@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #141414;
  --text: white;
  --green: #3b9078;
  --purple: #853b90;
  --blue: #3b4990;
  --grey: #909090;
  --grey-background: #f8f8f8;
  --green-background: #f7fffc;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono-sans);
}

.main {
  position: relative;
}

.green {
  color: var(--green);
}

.purple {
  color: var(--purple);
}

.blue {
  color: var(--blue);
}
