@media (max-width: 1650px) {
  .services-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
  }

  .header-services-quadrillage {
    top: 60%;
  }
}

@media (max-width: 876px) {
  .services-cards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-services-quadrillage {
    display: none;
  }
}
