.contact-me-bubble {
  position: fixed;
  z-index: 500000;
  bottom: 1.5rem;
  right: 1.5rem;
  border: 1px solid var(--green);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    transform 0.5s ease-in-out, border 0.5s ease-in-out;
}

.contact-me-bubble:hover {
  background-color: var(--green);
  color: white;
}

.contact-me-bubble:hover .chat-bubble {
  color: white;
}

.wiggling {
  animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shadow {
  box-shadow: 0px -1px 34px -6px rgba(0, 0, 0, 0.25);
}

.chat-bubble {
  color: var(--green);
}

.chat-bubble:hover {
  color: white;
}
