.title-container {
  display: flex;
  row-gap: 6px;
  align-items: center;
}

.title-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.badge-container {
  font-family: var(--font-abyssinica);
  color: var(--green);
  font-size: 20px;
  text-align: center;
}

.title {
  font-size: 60px;
  font-weight: 600;
  max-width: 712px;
  text-align: center;
}

.icon-container {
  background-color: var(--background-grey);
  color: var(--green);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
